In [6]:
galaxia = 81#Hola

In [7]:
galaxia

81

In [8]:
primero="curso"
segundo="astronomia"

In [11]:
primero + " " + segundo

'curso astronomia'

In [13]:
print("¡Hola mundo!")

¡Hola mundo!

In [13]:
print('*\n**\n***\n****\n*****\n*****\n******\n*****\n****\n***\n**\n*')

*
**
***
****
*****
*****
******
*****
****
***
**
*

In [8]:
print('''*
**
***
****
*****
******
*****
****
***
**
*''')

*
**
***
****
*****
******
*****
****
***
**
*

In [14]:
list(range(12))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [4]:
Mercurio=(1)
Tierra=(3)
Marte=(4)
Neptuno=(8)
Venus=(2)
Urano=(7)
Jupiter=(5)
Saturno=(6)

In [11]:
list=[Mercurio,Tierra,Marte,Neptuno,Venus,Urano,Jupiter,Saturno]

In [12]:
list.sort()
print(list)

[1, 2, 3, 4, 5, 6, 7, 8]