## Clase 19/09 ##

In [ ]:
for i in range(1,11):
    print(i)

In [ ]:
for i in range(20)
    print(i+1)

In [24]:
m_list=[ "holi", 4, "Wenas", 8, "bye"]
for i in m_list:
    print (i)

holi
4
Wenas
8
bye

In [8]:
n_list=[2,5,78,100]
n_list2=[0,1,2,3]
for i in n_list2:
    n_list[i]=n_list[i]+100
n_list

[102, 105, 178, 200]

In [14]:
n_list=[2,5,78,100]
n_list.append(7)
n_list

[2, 5, 78, 100, 7]

In [15]:
len(n_list)

5

In [19]:
for i in range(len(n_list2)):
    print(i)

0
1
2
3

In [22]:
ent=int(input("Ingrece un número entero"))

if ent > 0 :
     print(" el número ", ent, " es natural" )
elif ent==0 :
    print(" el número ingresado es el cero" )
else: 
     print(" el número ", ent, " es entero negativo" )

 el número  0  es el cero

In [25]:
for i in m_list:
    if i== 4:
        print(i)
    elif i== "Wenas":
        print(i)
    else:
        print("no se encontro nada xd")

no se encontro nada xd
4
Wenas
no se encontro nada xd
no se encontro nada xd