## Clase 19/09 ##

In [60]:
import funciones

In [ ]:
for i in range(1,11):
    print(i)

In [ ]:
for i in range(20)
    print(i+1)

In [24]:
m_list=[ "holi", 4, "Wenas", 8, "bye"]
for i in m_list:
    print (i)

holi
4
Wenas
8
bye

In [8]:
n_list=[2,5,78,100]
n_list2=[0,1,2,3]
for i in n_list2:
    n_list[i]=n_list[i]+100
n_list

[102, 105, 178, 200]

In [14]:
n_list=[2,5,78,100]
n_list.append(7)
n_list

[2, 5, 78, 100, 7]

In [15]:
len(n_list)

5

In [19]:
for i in range(len(n_list2)):
    print(i)

0
1
2
3

In [22]:
ent=int(input("Ingrece un número entero"))

if ent > 0 :
     print(" el número ", ent, " es natural" )
elif ent==0 :
    print(" el número ingresado es el cero" )
else: 
     print(" el número ", ent, " es entero negativo" )

 el número  0  es el cero

In [25]:
for i in m_list:
    if i== 4:
        print(i)
    elif i== "Wenas":
        print(i)
    else:
        print("no se encontro nada xd")

no se encontro nada xd
4
Wenas
no se encontro nada xd
no se encontro nada xd

In [28]:
y=0

while 1:
    print(y)
    y=y+1
    if(y==15):
        break

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

# funciones #

In [29]:
def juli (nombre):
    print("holi ", nombre, " te saluda Juliana " )

In [31]:
c=juli("Pepito")

holi  Pepito  te saluda Juliana

In [32]:
def cubo(c):
    cub=c*c*c
    return cub

In [36]:
cubo(3)

27

In [38]:
def potencia(b,ex):
    return b**ex

In [39]:
potencia(10,2)

100

In [41]:
def potencia_2(x):
    return x**2

In [42]:
potencia_2(6)

36

In [43]:
def pot(x,y=2):
    return x+y

In [44]:
pot(2)

4

In [45]:
pot(7,5)

12

In [62]:
suma(2,3)

NameError: name 'suma' is not defined

NameError: name 'suma' is not defined