Reto de multiplo de 2

In [ ]:
a=1
b=2

if a%b==0:
    print(str(a)+" es un número multiplo de "+str(b))
else:
    print(str(a)+" no es un número multiplo de "+str(b))

Reto fibonacci

In [ ]:
cant_val=19
fibonachi=[0,1]
a=0
b=1
for n in range(1,cant_val):
    m=a+b    
    fibonachi.append(m)
    a=b
    b=m  
print(fibonachi)

Reto piramide de puntos

In [ ]:
a=1
b=1
c=12
for n in range(1,c):
     
    if b<=c/2:
        print("*"*a+"\n")
        a+=1
        
    else:
        a-=2
        print("*"*a+"\n")
        a+=1
    
    b+=1

Reto planetas

In [1]:
planetas={"Mercurio":3.3,"Venus":48.7,"Tierra":59.7,"Marte":6.42,"Jupiter":19000.0,"Saturno":5680.0,"Urano":868.0,"Neptuno":1002.0}
iteraciones=[planetas]
planetas_2={}
a=1
for b in iteraciones:
    for n in b:
        for m in b:
            if planetas[n] < planetas[m]:
                nom_plat=m
                peso_plat=planetas[m]
                planetas_2.update({nom_plat:peso_plat})