In [2]:
numero = int(input("Introduce un número: "))
if numero % 2 == 0:
    print("Es múltiplo de 2")
else:
    print("No es múltiplo de 2")

No es múltiplo de 2

los primeros 20 números de la serie de Fibonacci

In [2]:
a = 0
b = 1
print(a, b, end=" ")
for _ in range(18):  
    a = b
    b = a + b
    print(b, end=" ")

0 1 2 4 8 16 32 64 128 256 512 1024 2048 4096 8192 16384 32768 65536 131072 262144

**ESCRIBIR UN CÓDIGO QUE RETORNE LOS NOMBRES DE LOS PLANETAS DEL SISTEMA SOLAR DE MÁS MASIVO A MENOS MASIVO**

**3. HACER UN CÓDIGO QUE ESCRIBA LOS * DE ESTA FORMA**

\* <br>
\*\* <br>
\*\*\* <br>
\*\*\*\* <br>
\*\*\*\*\* <br>
\*\*\*\*\*\* <br>
\*\*\*\*\* <br>
\*\*\*\* <br>
\*\*\* <br>
\*\* <br>
\* <br>

In [3]:
n = 6  


for i in range(1, n+1):
    print('*' * i)


for i in range(n-1, 0, -1):
    print('*' * i)

*
**
***
****
*****
******
*****
****
***
**
*

In [6]:

n = int(input("Introduce un número de * maximos: "))


for i in range(1, n+1):
    print('*' * i)


for i in range(n-1, 0, -1):
    print('*' * i)

*
**
***
****
*****
******
*******
********
*********
**********
***********
************
*************
**************
***************
**************
*************
************
***********
**********
*********
********
*******
******
*****
****
***
**
*

HACER UN CÓDIGO QUE ESCRIBA EL TRÍANGULO DE PASCAL HASTA LA QUINTA FILA

In [10]:
n = 5  
triangulo = []  


for i in range(n):
   
    row = [1] * (i + 1)
    
  
    for j in range(1, i):
        row[j] = triangulo[i-1][j-1] + triangulo[i-1][j]
    
   
    triangulo.append(row)


for row in triangulo:
    print(' '.join(map(str, row)).center(n * 2))

    1
   1 1
  1 2 1
 1 3 3 1
1 4 6 4 1

In [12]:
n = int(input("Introduce un número de filas del triangulo de pascal: ")) 
triangulo = []  


for i in range(n):
   
    row = [1] * (i + 1)
    
  
    for j in range(1, i):
        row[j] = triangulo[i-1][j-1] + triangulo[i-1][j]
    
   
    triangulo.append(row)


for row in triangulo:
    print(' '.join(map(str, row)).center(n * 2))

                   1
                  1 1
                 1 2 1
                1 3 3 1
               1 4 6 4 1
             1 5 10 10 5 1
            1 6 15 20 15 6 1
          1 7 21 35 35 21 7 1
         1 8 28 56 70 56 28 8 1
      1 9 36 84 126 126 84 36 9 1
  1 10 45 120 210 252 210 120 45 10 1
1 11 55 165 330 462 462 330 165 55 11 1
1 12 66 220 495 792 924 792 495 220 66 12 1
1 13 78 286 715 1287 1716 1716 1287 715 286 78 13 1
1 14 91 364 1001 2002 3003 3432 3003 2002 1001 364 91 14 1
1 15 105 455 1365 3003 5005 6435 6435 5005 3003 1365 455 105 15 1
1 16 120 560 1820 4368 8008 11440 12870 11440 8008 4368 1820 560 120 16 1
1 17 136 680 2380 6188 12376 19448 24310 24310 19448 12376 6188 2380 680 136 17 1
1 18 153 816 3060 8568 18564 31824 43758 48620 43758 31824 18564 8568 3060 816 153 18 1
1 19 171 969 3876 11628 27132 50388 75582 92378 92378 75582 50388 27132 11628 3876 969 171 19 1